<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/edit.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
      
    <title>EDIT PAGE</title>
</head>
<body>

<div class="popup" id="popup">
    <h1>EDIT PAGE</h1>
     <form action="/edit/<%= todo._id %>?_method=PUT" method="post">
         <input type="text" name="content" id="content" value="<%= todo.content %>">
         <input type="submit" value="update">
   </div>
   <script src="js/script.js"></script>
</body>
</html>